body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.title{
    text-align: center;
    margin: 20px 0;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin-bottom: 50px;
}

.card {
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 50%;
    border-radius: 10px;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
    background: #f8f8f8;
}

.card p {
    font-size: 1em;
    margin: 10px 0;
    background: #f8f8f8;
}

.desc{
    color: #666;
}

.price {
    font-size: 1.3em;
    font-weight: bold;
    color: #27ae60;
    background: #f8f8f8;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.button:hover {
    background: #0056b3;
}